.experience-columns {
  display: flex;
  gap: 20px; /* Spacing between columns */
}

.experience-column {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 1); /* Card shadow effect */
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
}

.experience-column:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.experience-column h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.experience-column ul {
  list-style-type: none;
  padding: 0;
}

.experience-column li {
  margin-bottom: 5px;
}


/* Mobile: stack columns vertically */
@media (max-width: 768px) {
  .experience-columns {
    flex-direction: column;
    gap: 20px;
  }

  .experience-column {
    max-width: 100%;
  }
}