.about-layout {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap; /* ensures it stacks nicely on smaller screens */
  margin: 100px auto 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.about-right {
  max-width: 1000px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
  
  .reveal-heading {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .reveal-heading:hover {
    color: #4e9af1;
  }
  
  .intro-content {
    opacity: 0;
    animation: fadeSlideIn 0.8s ease forwards;
    animation-delay: 0.2s;
  }

  .intro-animation {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .experience-toggle {
    cursor: pointer;
    color: #4e9af1;
    margin-top: 1rem;
    transition: color 0.3s ease;
  }
  
  .experience-toggle:hover {
    color: #2b6cb0;
  }
  
  .intro-text-container {
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .section {
    
   
   
   
    padding: 20px;
    box-sizing: border-box;
  }
  .experience-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 20px ;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .experience-wrapper p {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .experience-toggle {
    text-align: left;
  }