@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    h1 {
      font-size: clamp(32px, 6vw, 40px);
    }
  
    h2 {
      font-size: clamp(24px, 5vw, 32px);
    }
  
    p,
    span,
    li {
      font-size: clamp(14px, 4vw, 16px);
    }
  }
  
/* Responsive improvement */
@media (max-width: 768px) {
  .about-layout {
    justify-content: center;
    padding: 10px;
  }

  .about-right {
    text-align: left;
    padding: 0 15px;
  }

  .intro-text-container {
    margin-top: 1rem;
  }
}
  