
  
  /* .shape {
    float: left;
    width: 70%;
    height: 1000px;
    shape-outside: polygon(0 0, 20% 0, 100% 100%, 0% 100%);
    -webkit-shape-outside: polygon(0 0, 20% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 20% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 20% 0, 100% 100%, 0% 100%);
    background-color: rgba(255, 165, 0, 0.8);
    shape-margin: 10px;
  }
  .shape::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 165, 0, 0.8); 
  }
  
  
  .shape img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  } */
  
  
  .text {
    height: 100%;
    align-items: center;
  }
  